body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gitlab-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
